@media screen and (max-width: 530px) {

  .more {
    width: 100% !important;
  }

  .head {
    h1 {
      margin: 50px 0 0 0;
    }

    .network {
      a {
        width: 17% !important;
      }
    }
  }

  .pacs {
    display: none
  }

  #parcours,
  #passions {
    height: 350px;

    .container {
      .row {
        h3 {
          line-height: 350px;
        }
      }
    }
  }

  .article {
    width: 100%;
  }

  .parcours-detail {
    .entreprise {
      padding: 15px;
    }
  }

  .parcours-detail {
    h4 {
      padding-left: 0;
    }

    .entreprise {
      padding: 0;

      .margin {
        padding: 0;

        h5 {
          margin: 0;
        }

        .detail {
          padding: 10px;
        }
      }
    }
  }

  .message-img {
    width: 70px;
    height: 70px;
  }
}

@media screen and (max-width: 750px) {

  .pacs {
    right: 20px;
  }

  #me {
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  #competences,
  .parcours-detail,
  .contact {
    .container {
      width: 95%;
    }
  }

  .more {
    width: 50%;
    margin: 0 auto;
  }

  .head {
    .network {
      a {
        width: 9%;
      }
    }
  }

  a {
    &.boyfriend {
      top: 20%;
    }
  }

  .click {
    top: 15%;
    right: 7%;
  }

  .fleche-click {
    right: 2%;
    width: 8%;
    top: 17%;
  }

  .fleche {
    display: none !important;
  }

  #me {
    &.wrapper {
      padding: 15px;
    }

    .bubble-right {
      margin: 10px 0;

      .detail {
        &:before {
          display: none;
        }
      }
    }

    .bubble-left {
      margin: 10px 0;
      .detail {
        &:after {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {

  #me {
    .container {
      width: 90%;
    }
  }

  #competences,
  .parcours-detail,
  .contact {
    .container {
      width: 95%;
    }
  }
  
}