body {
  font-family: "TextMe";
}

.presentation,
.etudes {
  padding: 20px;
  color: #6FBB63;
  background: #3D4F5B;
  height: 100%;

  h1,
  h2,
  p {
    font-family: "TextMe";
  }

  h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
  }
}

.etudes {
  h2 {
    font-family: 'TextMe';
    text-align: center;
    font-weight: bold;
    color: #DCC6E0;
  }

  ul {
    &.date {
      border-bottom: 5px solid;
      list-style: none;
      color: rgba(220, 198, 224, 0.2);

      li {
        display: inline-block;
        width: 19%;
        text-align: center;
        opacity: 0.6;

        a {
          font-family: 'TextMe';
          font-size: 26px;
          text-decoration: none;
          color: #F2784B;
          width: 100%;
          display: inline-block;
          position: relative;
          top: 15px;

          &.bulle {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            background: #F2784B;
            top: 22px;
          }
        }
      }
    }
  }

  ul {
    &.detail-date {
      li {
        display: none;
        width: 55vw;
        margin: 30px auto;
        height: 55vw;
        text-align: center;
        border-radius: 50%;

        &#ip {
          border: 1px solid #F2784B;
        }

        .ecole {
          float: none;
          margin: 30px auto;
          font-family: 'TextMe';

          h4 {
            font-family: 'TextMe';
            font-size: 35px;
            font-weight: bold;
          }

          .annee,
          .adresse,
          .detail-matiere {
            font-size: 20px;
            font-style: italic;
          }

          .diplome {
            font-size: 35px;
            font-weight: bold;
            color: #F2784B;
            text-transform: uppercase;
            margin-top: 30px;
            margin-bottom: 30px;
          }
        }
      }
    }
  }

}


.presentation {
  .image {
    overflow: hidden;
    padding: 0;
    border-radius: 10px;

    img {
      width: 100%;
      height: auto;
    }
  }

  .description {
    h1,
    p {
      text-align: center;
    }

    h1 {
      font-weight: bold;
      font-size: 45px;
    }

    p {
      font-size: 24px;
      line-height: 50px;
    }

  }

  .adresse {
    h2 {
      font-weight: bold;
      font-size: 45px;
      font-family: 'TextMe';
      text-align: center;
    }

  }

}

.container {
  &.content {
    width: 100%;
    padding: 0;
  }
}


#slides {
  display: none;
  height: 100%;
  padding: 0;

  .slidesjs-container {
    width: 100%;
    height: 100% !important;

    .slidesjs-control {
      width: 100%;
      height: 100% !important;
    }
  }
}

.container {
  margin: 0 auto
}

.slidesjs-pagination {
  display: none;
}

.slidesjs-navigation {
  position: absolute;
  top: 50%;
  z-index: 999;
  width: 80px;
  height: 80px;
  font-size: 0;

  &.slidesjs-previous {
    left: 10px;
    background: url("../images/left.jpg") no-repeat;
    background-size: 100%;
  }

  &.slidesjs-next {
    right: 10px;
    background: url("../images/right.jpg") no-repeat;
    background-size: 100%;
  }
}
