@font-face {
    font-family: "TextMe";
    src : url('fonts/TextMe/TextMe.eot');

    src : url('fonts/TextMe/TextMe.woff') format('woff'),
          url('fonts/TextMe/TextMe.svg#abcd') format('svg'),
          url('fonts/TextMe/TextMe.ttf') format('truetype');
}
