@font-face {
    font-family: "Dense";
    src : url('fonts/Dense/Dense.eot');

    src : url('fonts/Dense/Dense.woff') format('woff'),
          url('fonts/Dense/Dense.svg#abcd') format('svg'),
          url('fonts/Dense/Dense.ttf') format('truetype');
}
